*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
.card{
    width: 350px;
    height: 10000px;
    position: relative;/*se ingresa en el cuadro*/
    transform-style: preserve-3d;/*se ve la parte de atras*/
    transition: all 600ms; /*Giro en 3D*/
}
.container__card{
    max-width: 1200px;
    margin: auto; /*se centre bien*/
    margin-top: 100px;/*se desplegue de arriba*/
    perspective: 10px;/*observar el movimiento*/
    justify-content: center;
    display: flex;
}

.card__father{
    margin: 50px;/*separacion*/
    perspective: 1000px;
    margin-top: 10px;
}
.card__father:hover .card{/*giro*/
    transform: rotateY(180deg);
}

.card__front{
    background-size: cover;
    background-position: center;
}
.bg{ 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0.0.5);
    border-radius: 20px;
}
.card__front
{
    width: 100%;
    height: 100%;
    position: absolute;/*se va para arriba*/
    top: 0;
    left: 0;
    backface-visibility: hidden; /*la parte  frontal se muestre y la de atras no*/
    transform-style: preserve-3d;
    border-radius: 20px;
}
.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;/*se va para arriba*/
    top: 0;
    left: 0;
    backface-visibility: hidden; /*la parte  frontal se muestre y la de atras no*/
    transform-style: preserve-3d;
    
}
.card__back{
    transform: rotateY(180deg);/*giro*/
}
.body__card_front{/*centrar texto*/
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /*letra del afondo*/
    transform: translateZ(60px);
}
.body__card_back{
padding: 40px;
height: 500px;
text-align: center;
transform: translateZ(60px);
background-color: aqua;
background: rgb(0,0,0,0.1);
border-radius: 20px;

}

.body__card_back p{ /*parrafo*/
    margin-top: 20px;
    font-size: 15px;/*para que quede mas grande la letra*/
    text-align: center;
    justify-content: center;
    
}

.body__card_back input{ /*boton*/
    padding: 10px 40px;/*arriba abajo, izquieda derecha*/
    margin-top: 40px;/*boton un poco mas abajo*/
    font-size: 16px;
    cursor: pointer;
    border: none;/*se quiten los bordes*/
    color: white;/*la letra sea blanca*/
    background: #4245e8;
    box-shadow: 1px 1px 30px 1px #2d09b1; 
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back input:hover{/*cuando pasa el cursor sea el color mas extenso*/
    box-shadow: 1px 1px 30px 1px #180460; 

}

aside{
    margin-top: 100px;
  
}
nav{
    font-size: 19px;
}

/*quienes somos*/
.row1{
    margin-top: 120px;
    display: flex;
}
.col1{
    left: 1000;
    background-color: #fff;
    padding: auto;
    height: 450px;
    text-align: center;
    border-radius: 30px;
    border: solid black ;
    filter: drop-shadow(8px 8px 4px rgb(222, 94, 9));
    display: flex;
    
}
.col3{
    left: 1000;
    background-color: #fff;
    height: 450px;
    text-align: center;
    border-radius: 30px;
    border: solid black ;
    filter: drop-shadow(8px 8px 4px rgb(223, 88, 25));
    margin-left: 18px;
}
.articulo1{
    text-align: left;
    margin-left: 22px;
 }
 .ultimo{
    text-align: center;
    margin-top: 29px;
    height: 150px;
    width: 100%;
    padding: 2.9px;
    float: left;
    overflow:hidden;
    text-align: center;
    box-shadow: 0 0 20px 0;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
