*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

body{
    min-height: 70vh;
    background-color: rgb(243, 237, 248); /*cente, cover*/
    display: flex;
    max-width: 10vh; 
}
/*atributos de la tabla*/
/*titulo usuarios*/  
.table__body{
    width: 110%;
    max-height: calc(100% - .20rem);
    background-color: rgba(138, 138, 136, 0.733);
    margin: 10px; /*que no toque con el titulo*/
    border-radius: 15px;
    overflow: auto; /*esquinas superiores*/
    margin-left: 100px;
    backdrop-filter: blur(7px);
    font-size: 25px;
}

table,th, td{
    width: 1290px; 
    text-align: center;
}
.col-12{
        width: 100%;}

/*aplicar estilos a la tabla*/
tbody tr:nth-child(even) {
    background-color: #0000000b;
}
tbody tr:hover {
    background-color: rgba(166, 163, 163, 0.4); /*color cuando pasa el cursor */
    cursor: pointer;
    align-items: center;
}
td{
    border-collapse: collapse;/*se junta el color del menu*/
    padding: 15px;  /*espacio de las columnas */
    margin-left: 5px;
}
/*menu*/

ul{
    margin: 0;
    padding: 0;
    list-style: none ; /*quitar las lineas*/
}
a{
    color: #fff; /*color de la letra*/
    text-decoration: none;
}

/*fondos animado*/
.fondo-animado{
    position: absolute;
    width: 100%;
    height: 100% ;
    top: 0;
    left: 0;

}
span.uno,
span.dos,
span.tres,
span.cuatro {
  border: 0;
  display: block; /* se muestre como un bloque, es decir lineas separadas*/
  position: absolute;
  bottom: 0;
  left: 0;
  animation: vuelta  7s linear infinite normal both;
}
/*funcion de cada cuadro*/
span.uno {
    width: 100px;
    height: 100px;
    bottom: -100px; /*desplazamiento vertical*/
    background-color: rgb(97, 89, 216);
}
span.dos {
    width: 70px;
    height: 70px;
    bottom: -70px;
    background-color: #ff5b00;
}
span.tres {
    width: 50px;
    height: 50px;
    bottom: -50px;
    background-color: #dcf600;
}
span.cuatro {
    width: 20px;
    height: 20px;
    bottom: -20px;
    background-color: rgb(7, 146, 24);
}
@keyframes vuelta {
    from {
        transform: rotate(0deg); /*no tendra rotacion en su estado inicial*/ 
        bottom: 0; /*distancia de 0 pixeles*/
        opacity: 0; 
    }
    5% {
        opacity: 1;
        
    }
    60% {
        opacity: 1;

    }
    to {
        transform: rotate(360deg); /*giro desde su posición inicial.*/
        bottom: calc(100% + 100px); /*fuera de la vista, es decir a la parte superior*/
        opacity: 0;
    }
}
.fondo-animado span:nth-child(1) {
    left: 5%;
}
.fondo-animado span:nth-child(2) {
    left: 50%;
}
.fondo-animado span:nth-child(3) {
    left: 35%;
}
.fondo-animado span:nth-child(4) {
    left: 75%;
}
.fondo-animado span:nth-child(5) { /*para separar los grupos*/
    left: 25%;
}
.fondo-animado span:nth-child(6) {
    left: 85%;
}
.fondo-animado span:nth-child(7) {
    left: 90%;
}
.fondo-animado span:nth-child(8) {
    left: 65%;
}
.fondo-animado span:nth-child(9) {
    left: 60%;
}
.fondo-animado span:nth-child(10) {
    left: 75%;
}
.fondo-animado span:nth-child(11) {
    left: 10%;
}
.fondo-animado span:nth-child(12) {
    left: 45%;

}
/*duracion*/
span.delay-1 {
    animation-delay: 1s; /*retraso de la animacion*/
    animation-duration: 2s; 
}
span.delay-2 {
    animation-delay: 2s;
    animation-duration: 1s;
}
span.delay-3 {
    animation-delay: 3s;
    animation-duration: 4s;
}
span.delay-4 {
    animation-delay: 2s;
    animation-duration: 2s;
}
span.delay-5 {
    animation-delay: 1s;
    animation-duration: 3s;
}
span.delay-7 {
    animation-delay: 2s;
    animation-duration: 2s;
}
  
/*menuu*/
.menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;  /*posición de apilamiento más alta que otros elementos*/
}
.ul-home{
    height: 150px; 
}
.ul-home li a {
    display: inline-flex; /*el elemento ocupará solo el espacio necesario*/
    flex-direction: column; /*los elementos se colocarán en una columna vertical, de arriba hacia abajo.*/
    align-items:center ;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: rgb(0, 255, 8);
    border-radius:0 0 50% 0 ;/*esquina inferior derecha*/
    box-shadow: 0 0 15px 12px rgb(0, 0, 0,.5);/*sombra*/
}
/*icono de la casa*/

.ul-home li a svg {
    font-size: 3rem;
    margin-bottom: .10rem;
}
.ul-home li a span { /*nombres del menu*/
    font-size: 1.7em;
}
/*ocultar desborde*/
.a-inicio {
    overflow: hidden; 
}
.a-inicio svg{
    display: inline-block; 
    transform: rotateX(0deg) scale(1) translate(0,0); /*no girara en x,conservará su tamaño original, no producirá ninguna traslación en ninguna dirección*/
    transition: all ease-in-out 300ms; /*suavisar la transicion*/
}
/*aplicar transicion al menu*/
.a-inicio:hover svg {
    transform: rotatey(180deg) scale(1) translate(25%,-25%); /* el elemento se girará horizontalmente, 25% (eje X)traslación a la derecha en un 25% del ancho, 25% (eje Y)traslación hacia arriba en un 25% de altura*/
}

/*iconos del menu*/
.ul-enlaces {
    height: calc(100% - 160px); /*100% el elemento tomará el 100% de la altura disponible y el 190 restara  la altura del elemento en 190px*/
    background-color:rgb(255, 98, 0); ;
    width: 85px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 2px rgba(201, 83, 24, 0.5);
}
.ul-enlaces li + li{
    border-top: 1px solid rgba(79, 219, 184, .5); /*lineaa*/
}
.ul-enlaces a{
    display: inline-flex; /*el espacio de un elemento a otro*/
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 65px;
    margin-top: 20px;
}
.ul-enlaces a svg {
    font-size: 1.3rem;
    transition: all ease-in-out 300ms;   
}
.ul-enlaces a:hover svg {
    transform: scale(1.5); /*el elemento se agrandara a un ancho y alto de 150 píxeles.*/
}
/*giroo de los nombres*/
.ul-enlaces a span {
    font-size:20px ;
    display: inline-block;
    position: absolute;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 12px;
    transform: translateX(0) rotate(-180);
    transition: all ease-in-out 300ms; 
    opacity: 0;
}
.ul-enlaces a:hover span {
    transform: translateX(4rem) rotate(0); /*traslación horizontal de 4 unidades rem al elemento*/
    opacity: 1;
}
.ul-enlaces a span.fondo-violeta{
    background-color: violet;
}
.ul-enlaces a span.fondo-cielo{
    background-color: #48afff;
}
.ul-enlaces a span.fondo-verde{
    background-color: #22e12b;
}
.ul-enlaces a span.fondo-amarillo{
    background-color: #e1c705;
}
.ul-enlaces a span.fondo-rojo{
    background-color: #ea0808;
}


/*Criculo de carga*/
*,*:after, *::before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#contenedor_carga{
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
    z-index: 10000; /*se posiciones los elementos*/
}
#carga{
    border: 15px solid rgba(143, 139, 139, 0.79);
    border-top-color: #7ff426; /*colores borde superior*/
    border-top-style: groove ;
    height: 100px;
    width: 100px;
    border-radius: 100%; /*circulos*/
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}
@keyframes girar{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.col-12{
    width: 1200px;
    margin-left: 120px;
}
.titulo1{
    margin-left: 190px;
    margin-top: 20px;
}
/*TEXTo centrado*/
.subtitulo2{
    margin-left: 550px;
    margin-top: 30px;
    @font-face {
        font-family: Mukta;
        src: url('Mukta-regular.ttf');
    }
}

.subtitulo2 span{
    padding: 1px 15px;
    border-radius: 9px;
    transform: translatey(0) rotate(-20);
    transition: all  300ms; 
    opacity: 0;
    background-color: #f5e50a;
    color: black;
}
.subtitulo2:hover span {
    transform: translatey(0rem) rotate(0); /*traslación horizontal de 4 unidades rem al elemento*/
    opacity: 1;
}

/*linea*/
.subtitulo2{
    display: inline-block;
    position: relative;
    font-family: Mukta;
    cursor: pointer;
}

.subtitulo2::after, .subtitulo2::before{
    content: '';
    position: absolute;
    width: 320px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
}
.subtitulo2::after {
    content: '';
    position: absolute;
    width: 480px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
}
.subtitulo2::before{
    left: -400px;
}
.subtitulo2::after{
    right: -480px;
}
b.titulos{
    margin-left: 15px;
    color: #ff5b00;
}
/*texto donde dice empresa*/
.empresa{
    left: 910px;
    text-align: end;
    color: black;
}
/*Crearle el texto oculto */
.creo{
    backdrop-filter: blur(7px);
    cursor: pointer;
    margin-top: 15px;
}

.creo span{
    padding: 1px 15px;
    border-radius: 9px;
    transform: translateX(0) rotate(-80);
    transition: all ease-in-out 300ms; 
    opacity: 0;
    background-color: #22e12b;
    color: black;
}
.creo:hover span {
    transform: translateX(0rem) rotate(0); /*traslación horizontal de 4 unidades rem al elemento*/
    opacity: 1;
}
/*tarjeta*/
.container2{
    margin-left: 200px;
    display: flex;
    
}
/*cuadro de al fondo*/
.tarjeta{
    height: 220px;
    width: 270px;
    background-color: #f8890a;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: absolute;
    top: 40px;
}

/*titulo centrado*/
.actualizacion{
    margin-left: 50px;
    text-shadow: 5px 5px 5px black;
    color: rgb(101, 243, 6);
}

/*Titulo de fecha*/
h2{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 3px;
}
/*para ocultar la hora*/
.container2{
    cursor: pointer;
    position: absolute;
}

.container2 span{
    padding:10px 25px;
    border-radius: 9px;
    transform: translatey(0) rotate(-80);
    transition: all ease-in-out 100ms; 
    opacity: 0; /*oculta el texto*/
    color: black;
    left: 0;
    display: flex;
    position: relative;
    top: 110px;
}
.container2:hover span {
    transform: translatey(0rem) rotate(0); /*traslación horizontal de 4 unidades rem al elemento*/
    opacity: 1;

}

/*para ocultar el segundo span que es el nombre*/
.container3{
    cursor: pointer;
}
.container3 span{
    padding:10px 25px;
    border-radius: 9px;
    transform: translatey(0) rotate(-80);
    transition: all ease-in-out 100ms; 
    opacity: 0; /*oculta el texto*/
    color: black;
    margin-left: 100px;
    position: relative;; 
    top: 0;   
}
.container3:hover span {
    transform: translatey(0rem) rotate(0); /*traslación horizontal de 4 unidades rem al elemento*/
    opacity: 1;
}
/*color de los span*/
.color_amarillo{
        background-color: #f5dd0a;
        width: 200px;
}

.color_azul{

    background-color: #48afff;
    height: 60px;
}
/*fecha del cuadro*/
.fecha{
    margin-left: 50px;
    font-size: 30px;
}

/*Titulo de fecha*/
h2{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 3px;
}
/*ancho del span azul*/
.col-4{
width: 590px;
}
/*imagen que hay dentro del cuadro*/
.imagen1{
    margin-left: 80px;
}
.imagen{
    margin-left: 650px;
    position: absolute;
    margin-top: 500px;
}
.imagen3{
    margin-left: 250px;
    position: absolute;
    margin-top: 650px;
}
#boton{
    Backdrop-filter: blur(7px);
    background-color: #22e12b;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 20px 20px rgba(100, 235, 22, 0.87);
    top: 100px;
    margin-left: 150px;
    position: absolute;
}
#boton1{
    Backdrop-filter: blur(7px);
    background-color: #f01010;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 1100px;
    position: relative;
}
/*cuadro de al fondo*/
.tarjeta2{
    height: 230px;
    width: 270px;
    background-color: #f8890a;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: absolute;
    margin-left: 1250px;
    margin-top: 520px;
}

/*titulo centrado*/
.actualizacion{
    margin-left: 50px;
    text-shadow: 5px 5px 5px black;
    color: rgb(101, 243, 6);
}

/*Titulo de fecha*/
h2{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 3px;
}
/*para ocultar la hora*/
.tarjeta2{
    cursor: pointer;
    position: absolute;
}

.tarjeta2 span{
    padding:0px 25px;
    border-radius: 9px;
    transform: translatey(0) rotate(-80);
    transition: all ease-in-out 100ms; 
    opacity: 0; /*oculta el texto*/
    color: black;
    left: 0;
    display: flex;
    position: relative;
    top: 30px;
    margin-left: 285px;
}
.tarjeta2:hover span {
    transform: translatey(0rem) rotate(0); /*traslación horizontal de 4 unidades rem al elemento*/
    opacity: 1;

}

/*para ocultar el segundo span que es el nombre*/
.container4{
    cursor: pointer;
}
.container4 span{
    padding:10px 25px;
    border-radius: 9px;
    transform: translatey(0) rotate(-80);
    transition: all ease-in-out 100ms; 
    opacity: 0; /*oculta el texto*/
    color: black;
    margin-left: 100px;
    position: absolute; 
    top: 0px;   
    margin-left: 285px;
}
.container4:hover span {
    transform: translatey(0rem) rotate(0); /*traslación horizontal de 4 unidades rem al elemento*/
    opacity: 1;
}
/*color de los span*/
.color_amarillo{
        background-color: #f5dd0a;
        width: 200px;
}

.color_azul{
    
    background-color: #48afff;
    height: 40px;
    width: 200px;
}

.borrado{
    margin-left: 50px;
}
.borrado{
    text-shadow: 0 0 25px #7cff01,
    0 0 15px #7cff01,
    0 0 20px #7cff01,
    0 0 50px #7cff01;
    letter-spacing: 1px;
    cursor: pointer;
}
.borrador{
    margin-left: 20px;
}
.cuadrar{
    margin-left: 10px;
}

/* Estilos para el botón */
#botonAlternar {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botonAlternar:hover {
    background-color: #2980b9;
}