*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /*para que se quite las lineas*/
    font-family: sans-serif;
}

header{
    position: fixed; /*para que se mantenga siempre arriba*/ 
    top: 0;
    left: 0;  /*se va manetener por encima del contenido */
    width: 100%;
    height: 80px;
    background-color: chartreuse;
    box-shadow: 0 20px 25px -22px black;  /*sombra tendra un moviemiento hacia abajo, desbanecimiento y posicion */
    z-index: 2 ;/*mas elementos, este arriba*/
}
.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;/*al lado de la otra*/
    justify-content: space-between;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 b{
    color: rgb(255, 98, 0);
}
.menu {
    height: 80px;
}
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100px;
    display: flex;
    list-style: none; /*se quitan los puntos*/
}
.menu nav ul li{
    height: 100%;
    margin: 0 20px; /*Horizontal*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /*las lneas se ajustan al texto*/
}
.menu-selected:before{ /*segunda clase, en que esta situada la pagina*/
    content: '';/*contenido en blanco*/
    width: 100%;
    height: 4px;
    background-color: brown;
    position: absolute;/*linea larga*/
    top: 0;
    left: 0;
}
.menu nav ul li a:hover{
    color: blue;/*color gris a las letras*/
    transition: color 300ms;
}
.menu .text-menu-selected{
    color: black;
}/*color seleccionado */
.tex-menu-selected{
color: brown;
}

.mision{
    margin-top: 100px;
}